* {
  -webkit-print-color-adjust:exact;
}

a {
  word-wrap: break-word;
  font-style: none;
  color: inherit;
  /* text-decoration: none; */
  /* border-bottom: 1px solid dotted; */
  /* word-break: break-all; */
}

a:hover {
  color: #000;
}

.App {
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  counter-reset: section;
  background-color: #eee;
  padding: 4rem 0;
}

.layout {
  width: calc(11in * 0.6);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.page {
  width: calc(5.5in * 0.6);
  height: calc(8.5in * 0.6);
  float: left;
  padding-top: calc(0.3in * 0.6);
  padding-bottom: calc(0.3in * 0.6);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  background-color: white;
  border: 1px solid #eee;
}

.page:nth-child(even) {
  padding-left: calc(1.5in / 2 * 0.6);
  padding-right: calc(0.4in * 0.6);
}
.page:nth-child(odd) {
  padding-right: calc(1.5in / 2 * 0.6);
  padding-left: calc(0.4in * 0.6);
}

.page:nth-child(even) {
  page-break-after: always;
}

.counter::after {
  counter-increment: section; /* Increment the value of section counter by 1 */
  content: counter(section); /* Display the value of section counter */
}

.counter {
  text-align: center;
  bottom: 10px;
  position: absolute;
  font-size: calc(1em * 0.6);
  font-weight: bold;
  opacity: 0;
}
.page:nth-child(even) .counter {
  right: 1rem;
}

.page div {
  height: auto;
}

img {
  box-sizing: border-box;
  max-width: calc((5.5in * 0.6) - (1.5in / 2));
  max-height: 100%;
  /* max-width: 100%;
  max-height: 100%; */
  filter: grayscale(100%) opacity(90%);
}

.page p,
li {
  max-width: calc((5.5in * 0.6) - (1.5in / 2));
  font-size: calc(1em * 1);
}

small, .author {
  max-width: 5in;
  font-size: calc(1em * 0.6);
  position: absolute;
    top: 0px;
    bottom: 0px;
    height: 8.5in;
    width: 100%;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-bottom: calc(0.3in * 0.6);
    pointer-events: none;
    margin: 0.5em 0px;
}

.description {
  border-left: .02in solid #000;
  font-size: calc(1em * 0.75);
}

.description p {
  width: calc((5.5in * 0.6) - (1.5in / 2));
  padding-left: .1in;
  padding-top: .05in;
  padding-bottom: .05in;
  line-height: 1.3;
}

blockquote {
  max-width: 5in;
  font-size: calc(1em * 0.75);
  margin: 0px;
}


h1 {
  font-size: calc(1em * .75);
  text-transform: capitalize;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  font-style: italic;
  text-align: center;
  width: 100%;
}

.controls {
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-weight: 500;
  cursor: pointer;
  text-align: right;
}



@media print {
  @page {
    size: Letter landscape;
    margin: 0px;
  }

  .App {
    margin: 0px;
    padding: 0;
  }

  .new {
    display: none;
    padding: 0;
  }

  .layout {
    width: 11in;
    /* height: 8.5in; */
    page-break-after: always;
    overflow: hidden;
  }

  .page {
    width: 5.5in;
    height: 8.5in;
  }

  .controls {
    display: none;
  }

  .counter {
    font-size: calc(1em * 1.2);
  }

  .text p, li {
    font-size: calc(1em * 2);
  }

  .text small, .author {
    font-size: calc(1em * 1.2);
  }

  h1 {
    font-size: calc(1em * 1.5);
  }
}
