.App {
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  counter-reset: section;
  background-color: blanchedalmond;
  padding: 4rem 0;
}

.layout {
  width: calc(11in * 0.6);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.page {
  width: calc(5.5in * 0.6);
  height: calc(8.5in * 0.6);
  float: left;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  background-color: white;
  border: 1px solid blanchedalmond;
}

.page:nth-child(even) {
  page-break-after: always;
}

.counter::after {
  counter-increment: section; /* Increment the value of section counter by 1 */
  content: counter(section); /* Display the value of section counter */
}

.counter {
  text-align: center;
  bottom: 10px;
  position: absolute;
  font-size: calc(1em * 0.6);
}
.page:nth-child(even) .counter {
  right: 1rem;
}

.page div {
  height: auto;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  /* filter: grayscale(100%) opacity(90%); */
}

.page p,
li {
  max-width: 5in;
  font-size: calc(1em * 1);
}

small, .author {
  max-width: 5in;
  font-size: calc(1em * 0.75);
}

h1 {
  font-size: calc(1em * .75);
  text-transform: capitalize;
}

a {
  font-style: italic;
  text-align: center;
  width: 100%;
}

.controls {
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-weight: 500;
  cursor: pointer;
  text-align: right;
}


small {
  /* font-weight: bold; */
}

@media print {
  @page {
    size: Letter landscape;
    margin: 0px;
  }

  .App {
    margin: 0px;
    padding: 0;
  }

  .new {
    display: none;
    padding: 0;
  }

  .layout {
    width: 11in;
    /* height: 8.5in; */
    page-break-after: always;
    overflow: hidden;
  }

  .page {
    width: 5.5in;
    height: 8.5in;
  }

  .controls {
    display: none;
  }

  .counter {
    font-size: calc(1em * 1.2);
  }

  .text p, li {
    font-size: calc(1em * 2);
  }

  .text small, .author {
    font-size: calc(1em * 1.5);
  }

  h1 {
    font-size: calc(1em * 1.5);
  }
}
