

/* tristian */
.author173504 .authorstyle {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFC20D;
  font-size: 120%;
}


/* krystal */
.author173503 .authorstyle {
  font-family: 'Courier';
  color: teal;
}

/* teresa */
.author173506 .authorstyle {
  font-family: Arial;
  color: #5113BD;
}

/* angus */
.author173746 .authorstyle {
  font-family: 'Special Elite', cursive;
  font-style: normal;
  color: #000;
} .author173746 .authorstyle p, .author173746 .authorstyle li  {
  background-color: #C9F2F2;
}

/* tash */
.author159845 .authorstyle {
  font-family: 'Ubuntu', sans-serif;
  color: #df73ff;
  font-weight: 300;
}


/* ———————————————————————————— */




/* makayla */
.author102862 .authorstyle {
  font-family: Courier;
  color: orange;
}


/* paras */
.author173502 .authorstyle {
  font-family: Courier;
  color: rgb(250, 121, 33);
}


/* connor */
.author13842 .authorstyle {
  font-family: Courier;
  color: rgb(86, 110, 61);
}

/* sara */
.author173494 .authorstyle {
  font-family: Courier;
  color: rgb(86, 110, 61);
}






/* matt ross */
.author126808 .authorstyle {
  font-family: Arial;
  color: red;
}

/* ilona */
.author72134 .authorstyle {
  font-family: Arial;
  color: blue;
}

/* tyler */
.author25047 .authorstyle {
  font-family: Arial;
  color: orange;
}

/* miranda */
.author173613 .authorstyle {
  font-family: Arial;
  color: purple;
}

/* trevor */
.author173534 .authorstyle {
  font-family: Arial;
  color: red;
}





/* ryan */
.author23411 .authorstyle {
  font-family: Optima;
  color: blue;
}

/* jessica */
.author173499 .authorstyle {
  font-family: Optima;
  color: teal;
}

/* david */
.author37613 .authorstyle {
  font-family: Georgia;
  color: purple;
}

/* cameron */
.author173508 .authorstyle {
  font-family: Arial;
  color: red;
}

/* rahel */
.author162734 .authorstyle {
  font-family: Times;
  color: orange;
}

/* lissa */
.author173501 .authorstyle {
  font-family: Optima;
  color: green;
}

/* bronte */
.author173511 .authorstyle {
  font-family: Arial;
  color: blue;
}

/* leanne */
.author173505 .authorstyle {
  font-family: Arial;
  color: green;
}


/* kevin */
.author173500 .authorstyle {
  font-family: Optima;
  color: blue;
}

/* lluvia */
.author160124 .authorstyle {
  font-family: Times;
  color: purple;
}

/* timur */
.author7454 .authorstyle {
  font-family: Arial Black;
  color: red;
}

/* lauren */
.author173730 .authorstyle {
  font-family: Arial Black;
  color: orange;
}

/* zai */
.author88210 .authorstyle {
  font-family: Optima;
  color: red;
}

/* lauren */
.author17810 .authorstyle {
  font-family: Times;
  color: green;
}
