

/* krystal */
.author173503 .authorstyle {
  font-family: Times;
  /* color: rgb(185, 164, 76); */
  color: cmyk(55, 0, 26, 28);
  color: #52B788;
}


/* paras */
.author173502 .authorstyle {
  font-family: Courier;
  color: rgb(250, 121, 33);
}


/* connor */
.author13842 .authorstyle {
  font-family: Courier;
  color: rgb(86, 110, 61);
}

/* sara */
.author173494 .authorstyle {
  font-family: Courier;
  color: rgb(86, 110, 61);
}

/* angus */
.author173746 .authorstyle {
  font-family: Arial;
  font-style: italic;
  color: #BF4342;
  color: cmyk(0, 65, 65, 25);
}


/* tristian */
.author173504 .authorstyle {
  font-family: Arial;
  font-weight: bold;
  color: rgb(82, 183, 136);
}

/* matt ross */
.author126808 .authorstyle {
  font-family: Arial;
}

/* ilona */
.author72134 .authorstyle {
  font-family: Arial;
}

/* tyler */
.author25047 .authorstyle {
  font-family: Arial;
}
