

/* krystal */
.author173503 .authorstyle {
  font-family: Times;
  color: red;
}


/* paras */
.author173502 .authorstyle {
  font-family: Courier;
  color: blue;
}


/* connor */
.author13842 .authorstyle {
  font-family: Courier;
  color: green;
}
